.products__content-wrapper {
  background: #fff;
  max-width: 200px;
  height: 300px;
  padding: 10px;

  &:hover {
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.15s ease-in-out;
  }
}

.products__content {
  display: flex;
  flex-direction: column;
}

.products__link {
  margin-bottom: 10px;
  a {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100px;
    height: 100px;
  }
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.products__brand {
  margin-bottom: 10px;
}

.products__price {
  margin-bottom: 10px;
}
