@import 'layouts';

.header {
  text-align: center;
}

.catalog {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px;
}
.catalog__content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
  padding: 10px 0;
}

.catalog__products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @include MQ(S) {
    grid-template-columns: 1fr 1fr;
  }
  @include MQ(M) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__products_item {
  margin: 0 auto;
}
